h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
ul{
    background-color: green;
}
.list-color{
    background-color: blue;
}
p{
   font-weight: 600;
   font-size: 3em;
}
body{
   font-size: 16px;
}
.style1{
   font-style: oblique;
   line-height: 5em;
   text-align: center;
   text-decoration: underline;
}
.yellow{
   background-color: yellow;
}
.red{
   background-color: red;

}
.brown{
   background-color: brown;
}